@charset "UTF-8";
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #80daff;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
  margin: 0;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

h4 {
  font-size: 2rem;
  margin-left: 2rem;
}

h6 {
  font-size: 1.5rem;
  font-weight: normal;
  margin: 3rem 0 0 1rem;
}

ul, li {
  padding: 0;
  list-style: none;
  font-size: 1.5rem;
}

header {
  position: fixed;
  width: 100%;
  height: 6rem;
  background: #ff7176;
  z-index: 3;
}

.all_container {
  position: relative;
  color: #000;
}

.all_container .mv {
  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100vw;
  top: 6rem;
}

.all_container .mv .kaisai {
  padding-top: 8rem;
}

.all_container .mv .kaisai h3 {
  position: absolute;
  background-image: url(../img/imouto.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  top: -1rem;
  height: calc(120 / 375 * 100vw);
  width: calc(240 / 375 * 100vw);
  text-indent: -9999%;
}

.all_container .mv .logo {
  position: absolute;
  width: calc(250 / 375 * 100vw);
  margin: auto;
  top: calc(80 / 375 * 100vw);
  right: 0;
  left: 0;
  z-index: 2;
}

.all_container .mv h1::after {
  position: absolute;
  content: "";
  background-repeat: no-repeat;
  background-image: url(../img/otouto.png);
  background-size: 100%;
  width: calc(90 / 375 * 100vw);
  height: calc(100 / 375 * 100vw);
  left: calc(190 / 375 * 100vw);
  bottom: calc(-49 / 375 * 100vw);
}

.all_container .mv img {
  display: block;
  width: 100%;
}

.all_container .under {
  position: relative;
  margin: 3rem auto;
  width: 30rem;
}

.all_container .under a {
  text-decoration: none;
  color: #fff;
  font-size: 1.7rem;
  font-weight: bold;
  background: #ff7176;
  padding: 2rem 2rem;
  border-radius: 70px;
  z-index: 1;
}

@media (min-width: 749px) {
  header .menucont li {
    font-size: 2.5rem;
  }
  .all_container .mv {
    height: calc(600/1080*100vw);
  }
  .all_container .mv .kaisai h3 {
    margin: auto;
    width: calc(350/1080*100vw);
    top: calc(-141/1080*100vw);
    left: calc(200/1080*100vw);
  }
  .all_container .mv .logo {
    width: calc(550/1080*100vw);
    top: calc(90/1080*100vw);
  }
  .all_container .mv h1 {
    margin-top: -7rem;
  }
  .all_container .mv h1::after {
    width: calc(160 / 1080 * 100vw);
    height: calc(190 / 1080 * 100vw);
    left: calc(450 / 1080 * 100vw);
    bottom: calc(-60 / 1080 * 100vw);
  }
  .all_container .under {
    margin: -3rem auto;
    width: 56.6rem;
  }
  .all_container .under a {
    font-size: 3rem;
    font-weight: bold;
    background: #ff7176;
    padding: 4rem 6rem;
  }
}

@media print {
  /******************************************************************

Stylesheet: プリンタのみに適用

******************************************************************/
}
/*# sourceMappingURL=index.css.map */